*,
::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --background-primary: #dfe1e2;
  --background-secondary: #ffffff;
  --brand-color: #ca3884;
  --brand-color-hover: #a52c6b;
  --danger-color: #c93847;

  /* Content*/
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --white-always: #ffffff;

  /* Border*/
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  /* Font */
  --ff-sans: "Inter", sans-serif;
  --fw-md: 500;
  --fw-smb: 600;
  --fw-bold: 800;

  --fs-xl: 24px;
  --fs-base: 16px;
  --fs-sm: 12px;

  /* Padding */
  --py-sm: 0.75rem;
  --py-base: 1rem;

  --px-base: 1rem;
  --px-lg: 2.5rem;
  --px-xl: 6.7rem;
}

body {
  background-color: var(--background-primary);
}

html {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  line-height: 1.25;
  color: var(--content-secondary);
}

h1 {
  color: var(--content-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
  line-height: 1.3;
  letter-spacing: 0.09em;
  margin-top: 1rem;
}

.active {
  display: none;
}

@media (width >= 80em) {
  :root {
    --fs-xl: 3rem;
  }
}
